body {
    background: #f5f5dc;
}
#app {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
}

@media only screen and (max-width: 800px) {
    #app {
        grid-template-columns: auto;
    }

}

.found {
    color: transparent;
}

.error {
    color: red;
}